.header__logo {
  width: 104px;
  height: 25px;
  padding-left: 27px;
}

@media all and (min-width: 880px) {
  .header__logo {
    padding: 0;
  }
}

@media all and (min-width: 580px) {
  .header__logo {
    width: 142px;
    height: 33px;
  }
}
