.popup__close-icon {
  border: none;
  width: 20px;
  height: 20px;
  background: transparent;
  background-image: url(../../../images/close-icon.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  align-self: end;
  padding: 0;
  transition: opacity .3s ease-in 0s;
  position: absolute;
  top: -36px;
  right: 0;
  cursor: pointer;
}

.popup__close-icon:hover {
  opacity: .6;
}

@media all and (min-width: 880px) {
  .popup__close-icon{
    width: 32px;
    height: 32px;
    top: -40px;
    right: -40px;
  }
}