.footer__copyright {
  font-size: 14px;
  line-height: auto;
  font-weight: normal;
  color: #545454;
  margin: 0;
}

@media all and (min-width: 880px) {
  .footer__copyright {
    font-size: 18px;
  }
}