.profile__name {
  font-size: 27px;
  line-height: 29px;
  font-weight: 500;
  margin: 0;
  padding: 0 10px 13px 25px;
}

@media all and (min-width: 1280px) {
  .profile__name {
    width: 294px;
    font-size: 42px;
    line-height: 48px;
    padding: 0 18px 16px 0;
  }
}
